<html>
<head>
    <title>Tytuł</title>
    <script src="lib/jquery-2.2.1.js"></script>
    <script src="lib/angular.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
    <script src="classes.js"></script>
</head>
<body ng-app="mainApp">
<div ng-controller="rootController">
    <input type="button" ng-click="addNewEntry()" value="+"/>
    <table>
        <tr>
            <th>What?</th>
            <th ng-repeat="entry in entries">
                <select ng-model="entry.meat"
                        ng-options="option.name for option in availableComponents track by option.name"></select>
                <input type="button" ng-click="removeEntry(entry.meat)" value="-"/>
                <br>
                <input id="weightTxtField" type="number" ng-model="entry.weight.value">
                <label for="weightTxtField">{{entry.weight.unit}}</label>
            </th>
            <th>Total/Norm</th>
        </tr>
        <tr ng-repeat="substance in availableSubstances">
            <td>
                {{substance.name}}
            </td>
            <td ng-repeat="entry in entries">
                {{entry.meat.substancesMap[substance.name]}}
            </td>
            <td>
                {{sumForSubstance(substance)}} {{substance.properWeight.unit}} / {{substance.properWeight.value}}
                {{substance.properWeight.unit}}
            </td>
        </tr>
    </table>
</div>
</body>
</html>