<html>
<head>
    <title>Tytuł</title>
    <script src="lib/jquery-2.2.1.js"></script>
    <script src="lib/angular.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
    <script src="classes.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="mainApp">
<div ng-controller="rootController">
    <input type="button" ng-click="addNewEntry()" value="+"/>
    <table>
        <tr>
            <th>Substance</th>
            <th ng-repeat="entry in entries">
                <select class="select" ng-model="entry.component"
                        ng-options="option.name for option in availableComponents track by option.name"></select>
                <input type="button" ng-click="removeEntry(entry.component)" value="-"/>
                <br>
                <input id="weightTxtField" type="number" ng-model="entry.weight.value">
                <label for="weightTxtField">{{entry.weight.unit.name}}</label>
            </th>
            <th>Total/Norm</th>
        </tr>
        <tr ng-repeat="substance in availableSubstances">
            <td>
                {{substance.name}}
            </td>
            <td ng-repeat="entry in entries">
                {{substanceAmountForEntry(entry,substance) | number:2}}
            </td>
            <td>
                {{sumForSubstance(substance)}} / {{substance.norm.value}} / {{diff(substance)}}
                <div ng-class="{'perfect' : diffStatus(substance) == 0,'tooBig' : diffStatus(substance) == 1,'tooSmall' : diffStatus(substance) == -1}">
                    ({{diffForSubstance(substance)}}) / {{diffStatus(substance)}}
                </div>
                {{substance.norm.unit}}
            </td>
        </tr>
    </table>
</div>
</body>
</html>