/* app css stylesheet */

html, body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size:12px;
  width:100%;
  height:100%;
  overflow:hidden;
  margin:0;
  padding:0;
  background: #ffffff;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}

input {
  border-radius: 5px;
  text-align: center;
}

td {
  text-align: center;
  background: #beffe5;
  border-radius: 25px;
}

select {
  background: #fff;
  text-align: center;
  /* border-radius */
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}

.tooSmall {
  color: #00F;
}

.tooBig {
  color: #F00;
}

.perfect {
  color: #0F0;
}

